services:
  hass-unraid:
    container_name: hass-unraid
    network_mode: bridge
    restart: always
    environment:
      - TZ=America/New_York
      - UPS_SCAN_INTERVAL=15
      - SYSTEM_SCAN_INTERVAL=15
    volumes:
      - './data:/data'
    labels:
      - 'net.unraid.docker.icon=/mnt/user/docker/docker-icons/data/hass-unraid.png'
    image: ghcr.io/b0st0wn/hass-unraid:latest
